#footer{
    display: grid;
    grid-template-columns: 1fr;

    background-color: $darkblue;

    div{
        img{
            width: 20px;
            height: auto; 
        }
    }

    aside{
        img{
            width: 20px; 
            height: auto; 
        }
    }

    .con{

        
    }

    .mas{

    }

    .nov{

    }

    .news{

    }

    .follow{

    }

}
