#footer{
    display: flex; 
    flex-direction: column; 
    background-color: $darkblue;

    aside{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start; 
    }
    article{
        .con{
            border-bottom: 1px solid $grey;

        }
        .mas{
            border-bottom: 1px solid $grey;}
    }

    article{

    }
    
    .news{
        display: flex; 
        flex-direction: column; 
        padding-bottom: 20px;

        b{
            padding: 15px;
        }
        button{
            margin-top: 10px;
            margin-left: 90px;
        }

        input{
            border: none;
            background-color: $lightblue;
            height: 50px; 
            width: 320px; 
        }
    }

    .follow{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5px;
        div{
            img{
                padding: 5px;
            }
        }
    }

    @include md{
        display: flex; 
        justify-content: space-between;
        flex-direction: row; 
        align-items: flex-start;
        .news{
            align-items: center;
            padding: 20px;
            b{
                padding-bottom: 20px;
            }
            button{
                margin-top: 10px;
                margin-left: 90px;
            }
        }

        .follow{
          display: flex;
          flex-direction: column;
            padding: 20px;  
          align-items: center;
          b{
            padding-bottom: 20px;
        }
        div{
            img{
                padding: 5px;
            }
        }
        }
    }
    @include lg{
        display: flex; 
        justify-content: space-between;
        flex-direction: row; 
        align-items: flex-start;
        .news{
            align-items: center;
            padding: 20px;
            b{
                padding-bottom: 20px;
            }
            button{
                margin-top: 10px;
                margin-left: 90px;
            }
        }

        .follow{
          display: flex;
          flex-direction: column;
            padding: 20px;  
          align-items: center;
          b{
            padding-bottom: 20px;
        }
        div{
            img{
                padding: 5px;
            }
        }
        }
    }
   

    div{
        img{
            width: 20px;
            height: auto; 
        }
    }

    aside{
        img{
            width: 20px; 
            height: auto; 
        }
        button{
            background-color: $darkpurple;
            border: none;
            padding: 4px 12px; 
            a{color: white}
                
            a:link{ text-decoration: none;}
            a:hover{text-decoration: underline;}
        }
        button:hover{background-color: $neonpurple;}
    }
}