#footer{
    display: grid;
    grid-template-columns: 1fr;

    background-color: $darkblue;

    .con{

        #img{
            width: 20.48px;
            height: auto;
        }
        
    }

    .mas{

    }

    .nov{

    }

    .news{

    }

    .follow{

    }

}
