#gallery{
    display: grid;
    grid-template-columns: 1fr;

    @include md{
        ul{
            display: grid; 
            grid-template-columns: 1fr 1fr; 
        }
    }

    @include lg{
        margin: 0 17px;
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
}

}