header{
    display: grid;
    grid-template-columns: 1fr;

    nav{
        background-color: $darkblue;
        display: flex; 

        img{
            width: 136px;
            height: auto;
        }
    }

    section{
        padding: 24px;

        form{
            display: flex; 
            align-items: stretch;
            justify-content: space-between;
            gap: 10px;
            input{
                border: none;
                width: 100%;
                border-bottom: 1px solid $darkgreen;

            }
            button{
                background-color: $lightpurple;
                border-radius: 3.5px;
                border: none; 
                padding: 6px 11px 6px 11px; 

            }

        }

    }
}