#hero {
    display: grid;
    grid-template-columns: 1fr;
}

#selection {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-areas:
    "which-service"
    "location";
   
    #which-service {
        grid-area: which-service;
        background-color: orange;
    }
    
    #location {
        grid-area: location;
        background-color: red;
    }

    @include md {
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "which-service location";
    }

    @include lg {
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "which-service location";
    }
}
