#hero {
    display: grid;
    grid-template-columns: 1fr;
}

#selection {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-areas:
    "which-service"
    "location";
   
    #which-service {
        grid-area: which-service;
        background-color: $darkpurple;
        h2{color: white}
        p{color: white}
        a{color: white}
        img{
            width: 14.31px 
        }

    }
    
    #location {
        grid-area: location;
        background-color: $lightpurple;
        h4{color: white}
        a{color: white}
        img{
            width: 14.31px
        }
    }
        

    @include md {
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "which-service location";
    }

    @include lg {
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "which-service location";
    }
}
