#sub-hero{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "section1"
    "section2";
    
    #section1{
        grid-area: section1;
        background-color: $middleblue;
        h1{color: black}
        button{
            background-color: $darkpurple;
            border: none;
            padding: 4px 11px; 
            a{color: white}
        }
        img{
            width: 113px
        }
        margin-top: 16px;
        margin-right: 8px;

    }
    #section2{
        grid-area: section2;
        background-color: $middleblue;
        h1{color: black}
        button{
            background-color: $darkpurple;
            border: none;
            padding: 4px 11px; 
            a{color: white}
        }
        img{
            width: 113px
        }
        margin-top: 16px;
        margin-left: 8px;

    }

    @include md{
        grid-template-columns: 16px 1fr 1fr 16px;
        grid-template-areas: ". section1 section2 .";
    }

    @include lg{
        grid-template-columns: 16px 1fr 1fr 16px;
        grid-template-areas: ". section1 section2 .";
    }
} 