#whats-new article{

    display: flex; 
    flex-direction: column; 
    gap: 25px; 

    aside{

        .textdetail{
            background-color: $lightblue; 
            padding: 15px; 
            h2{
                margin: 0; 
            }
        }

        figure{
            display: flex; 
            align-items: center;
            justify-content: center;
            height: 164px;
            margin: 0;
            overflow: hidden;
        }
    }
    
    @include md{
        flex-direction: row; 
        flex-wrap: wrap;  
        justify-content: space-between;
        gap: 25px 1%; 

        aside{
            width: 48%; 
        }

        aside:last-child{
            margin: 0 auto; 
        }
    }

    @include lg{
        justify-content: center;
        aside{
            width: 31%; 
        }

        aside:last-child{
            margin: 0;
        }
    }

} 
